.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: aquamarine;
    line-height: 35px;
}

.info{
    width: 250px;
    height: 25px;
}

.object{
    font-size: large;
    font-weight: bold;
}

#signup{
    margin-top: 15px;
}