.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: aquamarine;
    line-height: 35px;
}

.info{
    width: 250px;
    height: 30px;
}

.obj{
    font-size: large;
    font-weight: bold;
}

#signup{
    margin-top: 15px;
}