.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    line-height: 35px;
}

#gmail{
    width: 250px;
    height: 20px;
}

#password{
    width: 250px;
    height: 20px;
}
.background{
    background-size: cover;
    height: 100%;
    width: 100%;
}