.show {
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.image-product{
    width: 95%;
    height: 95%;
    margin: auto;
}

.tr1{
    height: 70px;
    font-weight: bold;
}

.tr2{
    height: 140px;
    font-weight: bold;
}

.tr3{
    height: 40px;
}

.offer{
    height: 25px;
    font-weight: bold;
    color: white;
    background-color: rgb(47, 50, 226);
    border: none;
    border-radius: 15px;
    width: 165px;
}