.overlay{
    background: rgba(49, 49, 49, 0.8);
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    height: 300px;
    margin: auto;
    text-align: center;
}

.close-modal {
    font-size: large;
    color: red;
    top: 7px;
    right: 6px;
    padding: 5px 7px;
    border: none
}

.quantity{
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
    font-size: large;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-framework {
    border: 1px black solid;
    height: 90px;
    width: 300px;
}

.amount{
    width: 150px;
}

.tr1{
    height: 40px;
}

.manner{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}


.calculate{
    margin-top: 10px;
    font-weight: bold;
}
