.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay{
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    min-width: 300px;
    height: 500px;
}

.close-modal {
    font-size: larger;
    color: black;
    background-color: #f1f1f1;
    top: 0px;
    right: 0px;
    padding: 3px 7px;
    border: none;
    transition: background-color 0.4s ease;
    height: 30px;
    width: 40px;
}

.close-modal.hovered{
    background-color: red;
    color: white;
}

.quantity{
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
    font-size: large;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount{
    width: 150px;
}

.tr1{
    height: 30px;
}

.manner{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}


.calculate{
    margin-top: 10px;
    font-weight: bold;
}

.ordering-product{
    
}

.calcu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
}

.method{
    margin-top: 20px;
    text-align: center;
}